body {
    background-color: rgba(255, 230, 0, 0.589);
}

p {
    font-size: large;
    color:black;
    font-style: italic;
}

button {
    border: 20px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(200, 0, 0, 1);
}

button:hover {
    background-color: rgba(255, 0, 0, 1);
}